@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --foreground-dark-rgb: 47, 47, 47;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  body {
    display: flex;
    justify-content: center;
    max-width: 72rem;
    margin: 0 auto;
    color: rgb(var(--foreground-dark-rgb));
    line-height: 1.75rem;
    background-color: rgb(250, 250, 250);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  ul {
    margin-top: 1.25rem;
  }

  li {
    margin: 0.75rem 0;
  }
  .top-nav {
    display: none;
  }

  @media (max-width: 1152px) {
    .top-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      height: 50px;
      padding: 2em;
    }

    #menu-toggle {
      display: none;
    }

    .menu-button {
      cursor: pointer;
    }

    .menu {
      display: flex;
      position: absolute;
      top: 0;
      margin-top: 0px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: top;
      align-items: end;
      z-index: -100;
    }
    #menu-toggle ~ .menu {
      width: 0;
      transition: width 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu {
      width: 100%;
      transition: width 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}
