@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --foreground-dark-rgb: 47, 47, 47;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  body {
    max-width: 72rem;
    margin: 0 auto;
    color: rgb(var(--foreground-dark-rgb));
    line-height: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }

  p {
    margin-top: 1rem;
  }

  ul {
    margin-top: 1.25rem;
  }

  li {
    margin: 0.75rem 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 24rem);
  }

  .cell-lg,
  .cell-md,
  .cell-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 2.5rem;
    border-color: rgba(245, 245, 245, 1);
  }

  .cell-lg {
    height: 36rem;
  }

  .cell-md {
    height: 12rem;
  }

  .cell-sm {
    height: 6rem;
  }
}
